---
import { Image } from "astro:assets";
import Tag from "./Tag.astro";

const { imageProps, h2, tekst, tagProps, li1, li2, order } = Astro.props;
---

<section class="what-to-expect">
  <figure class={order}>
        <img src="/index.jpg" alt="Case Image" />
  </figure>
  <article>
    <Tag {...tagProps}><slot /></Tag>

    <div class="content">
      <div>
        <h2>{h2}</h2>
        <p>{tekst}</p>
      </div>
      <ul>
        <li>{li1}</li>
        <li>{li2}</li>
      </ul>
    </div>
  </article>
</section>

<style>
  @layer components {
   .what-to-expect {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 82px;
  align-items: center;
  padding: 2rem 5%; 
  max-width: 1200px;
  margin: 0 auto;
  
}

h2, p{
color: black;
}

.what-to-expect img {
  max-width: 100%; 
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
    .order {
      order: 1;
    }

    [data-icon="balance"] {
      width: 24px;
    }

    ul {
      display: grid;
      gap: 1rem;
    }

    li {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
      color: #595566;
    }

    li:before {
      content: "";
      width: 1.6rem;
      aspect-ratio: 1;
      background: var(--checkmark-icon) 50% 50% / contain no-repeat;
    }
  }
</style>